{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>تسجيل الدخول</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/loginStyle.css' %}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="" onsubmit="saveUserData(event)" method = 'POST'>
                {% csrf_token %}
                <h1>انشاء حساب</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span> او استخدم الايميل لعملية التسجيل</span>
                    <input type="text" placeholder="Name" id="firstName" name = 'user_name'/>
            
                    <input type="email" placeholder="Email" id="email" name = 'user_email'/>
                
                    <input type="password" placeholder="Password" id="password" name = 'user_password'/>
                   
                
                
                <button type="submit">سجل</button>               
                <!-- <a href="{% url 'series' %}">سجل</a> -->
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="" method = 'POST'>
                {% csrf_token %}
                <h1>تسجيل الدخول</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>او استخدم حسابك</span>
                
                    <input type="email" placeholder="Email" name = 'user_email' required />


                
                
                    <input type="password" placeholder="Password" name = 'user_password' required/>
                
                
                
                <a href="#">هل نسيت كلمة السر؟</a>
                <button type="submit">الدخول</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>!مرحبا بعودتك</h1>
				<p>للبقاء على تواصل معنا يرجى تسجيل الدخول بمعلوماتك الشخصية</p>
				<button class="ghost" id="signIn">تسجيل الدخول</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>!مرحبا اصدقاء</h1>
				<p>أدخل بياناتك الشخصية وابدأ الرحلة معنا</p>
				<button class="ghost" id="signUp">التسجيل</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/loginJS.js' %}"></script>

    <script>
        function saveUserData(event) {
            event.preventDefault();
            const firstName = document.getElementById("firstName").value;
            localStorage.setItem("userName", firstName); 
            window.location.href = "{% url 'series' %}"; 
        }
    </script>
</body>

</html>