<!DOCTYPE html>
<html lang="en">

<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>Cimahub</title>
    <link rel="stylesheet" href="{% static 'css/anime.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
</head>

<body>
   {% include 'parts/nav.html' %}
    {% block content %}
    {% endblock content %}
    {% include 'parts/footer.html' %}
    <script src="{% static 'js/anime.js' %}"></script>
    <script>
        window.onload = function () {
            const signupBtn = document.querySelector('.signup-btn');
            const userName = localStorage.getItem('userName'); 
      
            if (userName) {
                signupBtn.textContent = `Hello, ${userName}`;
                signupBtn.style.pointerEvents = 'none'; 
            } else {
                signupBtn.textContent = 'التسجيل';
                signupBtn.addEventListener('click', function () {
                          window.location.href = '{% url "loginform" %}'; 
                      });
            }
        };
        window.addEventListener("load", () => {
        document.body.classList.add("loaded");
      });
      
          </script>
</body>
</html>